/* Container for the statistics cards */
.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 100px auto;
    max-width: 1200px;
    border: 5px solid  hsl(220, 100%, 97%);
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1) ;
}

.stats-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 10px auto;
    max-width: 1200px;
    border: 5px solid  hsl(220, 100%, 97%);
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1) ;
}

body{
    font-family: Poppins,sans-serif;
}

/* Individual stat card */
.stat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 190px;
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for the cards */
.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.stat-card .icon {
    font-size: 48px;
    opacity: 0.8;
    margin-bottom: 10px;
}


.stat-card .stat-info {
    text-align: center;
}

.stat-card .stat-info h3 {
    font-size: 36px;
    margin: 0;
}

.stat-card .stat-info p {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn-card{
    display: flex;
    height: 50px;
    padding: 0;
    background: #fff500;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .8s;
}
.btn-card:hover{
    background: #fff500;
    transform: translateY(-30%);

}
.btn-card:active{
    background: #fff500;
}
.btn__text,
.btn__icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px ;
    height: 100%;
    color: white;
}
.btn__icon{
    font-size: 1.5rem;
    background: rgba(0,0,0,0.08);
}